.filter-container {
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 2rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter > select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #f0f0f0;
  color: #000;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

.filter > input[type="checkbox"] {
  cursor: pointer;
}
