* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ffd1ff);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Not Found */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.not-found-container > a {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}

/* Error */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}
.error-container > button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
