.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1050px;
}

.main-container > h1 {
  margin-bottom: 2rem;
}

@media (width < 800px) {
  .main {
    padding: 1rem;
  }
  .main-container > h1 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (width < 600px) {
  .main {
    padding: 0.5rem;
  }
  .main-container > h1 {
    font-size: 1.5rem;
  }
}
