.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  color: #000;
  width: 100%;
}

@media (width < 800px) {
  .heading {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (width < 600px) {
  .heading {
    font-size: 1.2rem;
  }
}
